{% for game in games %}
<div class="modal fade" id="{{game.games.id}}" data-bs-backdrop="static" tabindex="-1" aria-labelledby="card{{game.games.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="card{{game.games.id}}">{{game.games.title}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="{{ game.games.path.url }}" alt="{{ game.games.title }}">
            </div>
            <hr>
            <div class="modal-body text-center">
                <details>
                    <p class="card-title">{{game.games.description}}</p>
                </details>
            </div>
            <hr>
            <div class="d-flex text-center" style="justify-content: space-around;">
                <div>
                    <p>Preço: {{game.games.value}}</p>
                </div>
                <div>
                    <p>Quantidade: {{game.games.quantity}}</p>
                </div>            
            </div>
            <div class="modal-footer d-flex" style="flex-direction: column;">
                {% if user.is_authenticated %}
                <a style="text-decoration: none; color: black;" href="{% url 'like_game' game.games.id %}" id="likeButton" class="like-button {% if liked %}liked{% endif %}">
                    <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %}" aria-hidden="true"></i>
                    <div class="justify-content-center">    
                        {% if game.liked %}
                            <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="red" stroke="red" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ game.games.total_likes }}
                        {% else %}
                            <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#fff" stroke="#000" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ game.games.total_likes }}
                        {% endif %}
                    </div>
                {% else %}
                    Login para comentar
                {% endif %}
                </a>
                <form method="post" action="{% url 'comment_game' game.games.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input name="content" type="text" class="form-control" placeholder="Adicionar comentário" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button type="submit" class="btn btn-secondary">Comentar</button>
                    </div>
                </form>
                <h5 class="mt-4">Comentários:</h5>
                {% for comment in game.comments %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                            <p class="card-text"><small class="text-muted">por {{ comment.user.username }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}